<section class="mx-10">
  <h1 class="text-center font-semibold py-8 text-xl lg:text-3xl uppercase">
    NEW ARRIVALS
  </h1>
  <div class="flex flex-wrap justify-center gap-8">
    <!-- multiple divs -->
    <% products.forEach(product=>{ %>
    <div class="w-fit border">
      <a href="/product/<%= product._id %>">
        <div class="bg-black p-5 h-96">
          <img
            class="w-60 drop-shadow-[5px_5px_rgb(45,212,191)] hover:scale-105 transition-all"
            src="<%= product.imgUrls[0] %>"
            alt=""
          />
          <h2 class="text-white mt-5 w-60"><%= product.productTitle %></h2>
          <div class="flex items-center gap-3 mt-3">
            <span class="text-white text-2xl font-semibold"
              >&#8377;<%= product.productPrice-product.discount %>.00</span
            ><span class=" text-xs <%= product.stock>0?"text-turquoise":"text-red-500" %>"
              ><%= product.stock>0?"IN STOCK":"OUT OF STOCK" %></span
            >
          </div>
        </div>
      </a>
      <!--  -->
      <div class="pt-5 pb-3 px-5 bg-white relative">        
          <input 
            type="hidden" 
            id="quantity"
            name="quantity"
            value="1"
          >
          <input 
            type="hidden"          
            value="<%= product._id %>"
           >
          <div class="hidden justify-center items-center absolute top-10 left-0 right-0">
            <div class="bg-green-200 text-green-800 p-3 rounded-lg animate-slide-down transition-all">Added to cart</div>
          </div>
          <div>
            <button
              class="uppercase w-full py-2 bg-turquoise hover:bg-teal-300 text-black font-semibold"
              type="button"            
            >
              Buy now
            </button>
          </div>        
          <div class="flex items-center justify-between gap-5 mt-3">          
            <div class="w-full">
              <button
                class="addToCartBtn uppercase w-full py-2 border hover:bg-lightGray text-black font-semibold"
                type="button"                
              >
                add to cart
              </button>              
            </div>
            <div>              
              <% if(product.isWishlisted){ %>                 
                <i class='removeFromWishlist bi bi-heart-fill cursor-pointer text-2xl text-red-500 hover:text-red-600'></i>              
              <% }else{ %>                 
                <i class='addToWishlist bi bi-heart cursor-pointer text-2xl hover:text-red-500'></i>              
              <% } %>               
            </div>
          </div>
        </form>
        <small class="text-darkGray block mt-2 text-center"
          >Free shipping all over India.</small
        >
      </div>
    </div>
    <% }) %>
  </div>
</section>
