<section
  class="flex flex-col gap-5 lg:gap-20 lg:flex-row mt-10 lg:mx-10 mx-5 lg:ml-20"
>
  <!-- images -->
  <div>
    <div class="flex items-start gap-8">
      <div class="hidden lg:flex flex-col gap-5">
        <% product.imgUrls.forEach((imgUrl)=>{%>
        <img
          class="rounded-lg w-14 cursor-pointer"
          src="<%= imgUrl %>"
          alt=""
        />
        <%}) %>
      </div>
      <div
        class="flex overflow-x-scroll gap-6 items-center w-fit lg:w-96 rounded-xl scrollbar-hide"
      >
        <% product.imgUrls.forEach((imgUrl)=>{%>
        <img
          class="rounded-xl border w-4/5 lg:w-96 lg:h-96"
          src="<%= imgUrl %>"
          alt=""
        />
        <%}) %>
      </div>
    </div>

    <div class="flex gap-2 mt-5 items-center justify-center">
      <div class="w-12 h-4 rounded-full bg-turquoise"></div>
      <div class="w-4 h-4 rounded-full bg-veryLightGray"></div>
      <div class="w-4 h-4 rounded-full bg-veryLightGray"></div>
      <div class="w-4 h-4 rounded-full bg-veryLightGray"></div>
    </div>
  </div>
  <!-- text and actions -->
  <div class="flex flex-col lg:gap-3 lg:mt-10">
    <h1 class="uppercase font-bold text-xl lg:text-3xl max-w-lg">
      <%= product.productTitle %>
    </h1>
    <div>
      <span class="font-bold text-xl lg:text-3xl mr-2"
        >&#8377;<%= product.productPrice-product.discount %>.00</span
      >
      <% if(product.discount>0){%>

      <span class="text-base text-darkGray line-through lg:text-xl mr-2"
        >&#8377;<%= product.productPrice %>.00</span
      >
      <span class="text-base font-bold text-turquoise mr-2"
        ><%= Math.round(product.productPrice/product.discount)%>% off</span
      >
      <% } %>
    </div>
    <!-- quantity input -->
    <form action="/buynow" method="post">
      <div class="custom-number-input w-32 mt-5">
        <label
          for="custom-input-number"
          class="uppercase whitespace-nowrap text-sm"
          >select quantity
        </label>
        <div
          class="flex flex-row h-10 w-full border relative bg-transparent mt-1"
        >
          <button
            data-action="decrement"
            type="button"
            class="text-darkGray hover:bg-lightGray h-full w-20 cursor-pointer outline-none focus:outline-none"
          >
            <span class="m-auto text-2xl">-</span>
          </button>
          <input
            type="number"
            id="quantity"
            name="quantity"
            readonly
            value="1"
            class="outline-none focus:outline-none text-center w-full font-semibold text-md hover:text-black focus:text-black md:text-basecursor-default flex items-center text-gray-700"
            min="1"
            max="10"
            step="1"
          />
          <button
            data-action="increment"
            type="button"
            class="text-darkGray hover:bg-lightGray h-full w-20 cursor-pointer focus:outline-none"
          >
            <span class="m-auto text-2xl">+</span>
          </button>
        </div>
      </div>
      <!-- action buttons -->
      <div class="flex flex-col lg:flex-row lg:items-center gap-5 mt-10">
        <input id="productId" type="hidden" value="<%= product._id %>" />
        <div class="flex items-center gap-5">
          <button
            type="button"
            id="addToCartBtn"
            class="uppercase px-8 w-full py-2 <%= product.stock>0?'bg-turquoise hover:bg-teal-300':"bg-gray-400" %> text-black font-semibold"
          >
            add to cart
          </button>
          <% if(product.isWishlisted){ %>
          <div>
            <i
              id="removeFromWishlistBtn"
              class="bi bi-heart-fill cursor-pointer text-2xl text-red-500 hover:text-red-600"
            ></i>
            <% }else{ %>
            <i
              id="addToWishlistBtn"
              class="bi bi-heart cursor-pointer text-2xl hover:text-red-500"
            ></i>
            <% } %>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<div
  id="addedToCartAlert"
  class="hidden justify-center items-center text-center fixed top-28 right-0 left-0"
>
  <div
    class="bg-green-200 text-green-800 py-3 px-5 rounded-lg animate-slide-down transition-all lg:w-1/4"
  >
    Added to cart
  </div>
</div>
