<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/user-head") %>
    <script defer src="/js/ajax/ajax-add.js"></script>
  </head>
  <body>
    <%- include("./layouts/navbar") %>
    <main>
      <!-- carousel -->
      <%- include("./components/home/carousel") %>
      <!-- best sellers and people's choice -->
      <%- include("./components/home/product-sections") %>
      <!-- celebrity reviews -->
      <%- include("./components/home/reviews") %>
    </main>
    <!-- pre-footer -->
    <%- include("./layouts/pre-footer") %>
    <!-- footer -->
    <%- include("./layouts/footer") %>
  </body>
</html>
