<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/user-head") %>
    <script defer src="/js/inc-dec-btn.js"></script>
    <script defer src="/js/for-product-page.js"></script>
  </head>
  <body>
    <%- include("./layouts/navbar") %>
    <main>
      <!-- product actions -->
      <%- include("./components/product/show-product") %>
      <!-- description -->
      <%- include("./components/product/description") %>
    </main>
    <!-- pre-footer -->
    <%- include("./layouts/pre-footer") %>
    <!-- footer -->
    <%- include("./layouts/footer") %>
  </body>
</html>
