<section
  class="mt-10 lg:mx-10 mx-5 flex flex-col lg:flex-row justify-between items-center lg:items-start gap-10"
>
  <div class="w-full">
    <!-- heading -->
    <div class="flex justify-between items-center">
      <h1 class="uppercase font-bold text-xl lg:text-3xl">YOUR CART</h1>
      <div class="text-sm lg:text-base">
        <%= products.length %> items in your cart
      </div>
    </div>
    <!-- cart items -->
    <div class="mt-10">
      <!-- item -->
      <% if(products.length==0){ %>
      <div class="text-center flex flex-col justify-center items-center">
        <lottie-player
          src="https://lottie.host/6600106c-7ff4-4a4a-815e-9351c8008cc3/xfYXuaFiZw.json"
          background="transparent"
          speed="1"          
          style="height: 220px;"
          loop
          autoplay
        ></lottie-player>
        <h1 class="font-semibold mt-3 text-xl">Your cart is empty</h1>
        <a class="text-turquoise block text-sm mt-3 hover:underline" href="/"
          >Go add some stickers</a
        >
      </div>
      <% } %> <% products.forEach(product=>{ %>
      <div
        class="mt-5 flex flex-col lg:flex-row justify-between lg:justify-around items-center border-b pb-4 border-lightGray"
      >
        <!-- cart item section-1 -->
        <div
          class="flex items-center justify-start lg:justify-between w-full lg:w-1/2 gap-5"
        >
          <img
            class="w-20 lg:w-28 border rounded-lg"
            src="<%= product.imgUrls[0] %>"
            alt=""
          />
          <div
            class="flex flex-col lg:flex-row lg:items-center justify-between gap-0 lg:gap-10"
          >
            <div class="text-sm text-darkGray"><%= product.productTitle %></div>
            <div class="text-lg lg:text-xl font-semibold">
              &#8377;<%= product.productPrice-product.discount %>.00
            </div>
          </div>
        </div>
        <input type="hidden" value="<%= product._id %>">
        <!-- cart item section2 -->
        <div
          class="mt-5 lg:mt-0 flex items-center justify-between lg:justify-around w-full lg:w-1/2"
        >
          <!-- quantity -->
          <div class="custom-number-input w-32">
            <div
              class="flex flex-row h-10 w-full border relative bg-transparent mt-1"
            >
              <button
                data-action="decrement"
                type="button"
                class="text-darkGray hover:bg-lightGray h-full w-20 cursor-pointer outline-none focus:outline-none text-2xl"
              >
                -
              </button>
              <input
                type="number"
                readonly
                class="outline-none focus:outline-none text-center w-full font-semibold text-md hover:text-black focus:text-black md:text-basecursor-default flex items-center text-gray-700"
                name="custom-input-number"
                value="<%= product.quantity %>"
              />
              <button
                data-action="increment"
                type="button"
                class="text-darkGray hover:bg-lightGray h-full w-20 cursor-pointer focus:outline-none text-2xl"
              >
                +
              </button>
            </div>
          </div>
          <!-- total price -->
          <div class="text-xl lg:text-2xl font-semibold">
            &#8377;<span class="totalPrice"
              ><%=
              product.discount>0?(parseInt(product.productPrice)-parseInt(product.discount))*product.quantity:parseInt(product.productPrice)*product.quantity%></span
            >.00
          </div>
          <!-- delete -->
          <form action="/remove-from-cart/<%= product._id %>" method="post">
            <button type="submit">
              <i class="bi bi-trash text-lg text-darkRed"></i>
            </button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <!--  -->
  <div>
    <div class="bg-formGray p-5 rounded-xl md:w-80">
      <h1 class="uppercase font-bold text-lg">PRICE DETAILS</h1>
      <form action="/checkout" method="post">
        <textarea
          name="instructions"
          class="w-full rounded-lg mt-5 p-3 resize-none focus:outline-none"
          placeholder="Special instructions for seller"
          rows="4"
        ></textarea>
        <div class="flex justify-between items-center mt-4">
          <div class="tex-xs text-veryDarkGray">Subtotal</div>
          <div            
            class="text-xl font-bold text-right py-2 w-2/3 bg-transparent focus:outline-none"
          >
            &#8377;<span id="subTotalPrice">0</span>.00
          </div>
        </div>
        <input type="hidden" name="subtotal" id="subtotal" value="0" />
        <button
          class="uppercase text-lg font-semibold py-3 bg-turquoise hover:bg-teal-300 w-full  my-3 <%= products.length==0?"bg-gray-400 hover:bg-gray-400":null %> "
          <%= products.length==0?"disabled":null %> 
          type="submit"
        >
          Checkout
        </button>
      </form>
      <div class="text-sm text-darkGray text-center">
        <span class="text-turquoise">Shipping</span> is calculated at checkout.
      </div>
    </div>

    <a
      href="/"
      class="mt-10 text-darkGray hover:text-turquoise hover:underline text-center block"
      ><i class="bi bi-chevron-double-left"></i> Continue shopping</a
    >
  </div>
</section>


